nav {
    margin-bottom: 15px;
}
nav .navbar-brand {
    color: white !important;
}
nav .navbar-brand:hover {
    background: none;
}
nav a {
    padding: 10px;
    margin-left: 5px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
nav a:hover,
.active {
    background: rgb(46, 46, 46);
    color: white;
}