nav {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
nav a {
    background: #ededed;
    padding: 10px;
    margin-left: 5px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}
nav a:hover,
.active {
    background: black;
    color: white;
}