html, body {
  height: 100%;
}

body {
  background: linear-gradient(180deg, rgb(175, 9, 167) 0%, rgba(0,0,0,1) 100%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

button {
  background: rgb(243, 201, 85);
  color: black;
  padding: 15px;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: .4s;
}

button:hover {
  background: rgb(182, 148, 55);
}